@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&family=Raleway:wght@300&display=swap');
/* fonte */
.section-title{
    font-family: 'Nova Slim', cursive;
}

/* estlização do header */
body{
    font-family: 'Raleway', sans-serif;

}
.navbar{
    background-color: #3522fe;
}

#cabecalho .nav .nav-link:hover{
    color:black;
    background-color:white;
    opacity: .1;
}

#cabecalho .nav .nav-link.active{
    background-color: white;
    color: #3522fe;
    opacity: 1;
    transform: scale(1.00);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-projetos .nav-link.active:hover{
    color: white;
    transition: .8s;
}

.navbar-toggler{
    background-color: white;
}

/* estlização da seção sobre a empresa */
.carousel-item img{
    height: 420px;
}

.section-title span{
    color: #3522fe;
}

#sobre-a-empresa, #projetos{
    background-color: #d6e9fc;
}  

.text-colored{
    color: #3522fe;
}  

.social-links{
    padding-left: 0;
    width: 360px;
}

.social-links li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    transition: .6s;
}

.social-links a{
    text-decoration: none;
    font-size: 30px;
    justify-content: space-between;
}

.social-links li:hover{
    opacity: .5;

}

/* projetos */
.nav-projetos .nav-link.active{
    background-color: #3522fe;
    color: white;
}

.nav-projetos .nav-link:hover{
    color: #3522fe;
}

.tab-pane img{
    height: 300px;
    width: 250px;
}
.btn{
    background-color: #3522fe;
    color:white;
    border: none;
    transition: .6s;
}

.btn:hover{
    background-color: #3522fe;
    color: white;
    opacity: .9;
    transform: scale(1.02);
}

@media (max-width: 767px){
    .carousel-item img{
        height: 280px;
    }
}
