@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&family=Raleway:wght@300&display=swap');
/* fonte */
.section-title{
    font-family: 'Nova Slim', cursive;
}

/* estlização do header */
body{
    font-family: 'Raleway', sans-serif;

}
.navbar{
    background-color: #3522fe;
}

.nav .nav-link.active{
    background-color: white;
    color: #3522fe;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: white;
}

.navbar-toggler{
    background-color: white;
}

/* estlização da seção sobre a empresa */
.carousel-item img{
    height: 420px;
}

.container img{
    width: 450px;
    height: 500px;
}

.section-title span{
    color: #3522fe;
}

#sobre-a-empresa{
    background-color: #ccffff;
}  

/* nossa missão */
.text-colored{
    color: #3522fe;
}